# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=hub_core_db

# Backend
PORT=4000
JWT_SECRET=super_secret_key_change_me
JWT_EXPIRES_IN=1d

# Grafana
GRAFANA_SMTP_PASSWORD=your_app_password